/* GALLERY HTML */
.topcontainer2{
  background-color: #7FB5FF;
  padding:50px 0 28px;
}
.top-second{
  margin: 10px;
  border-radius: 30%;
  height: 150px;
  width: 150px;
}
 .g15{
  hight: 40%;
  width: 40%;
 }
 .g12{
   hight: 40%;
   width: 40%;
 }
 .g10{
   hight: 40%;
   width: 40%;
 }
 .g9{
   hight: 40%;
   width: 40%;
 }
 .g6{
   hight: 40%;
   width: 40%;
 }
 .g3{
   hight: 40%;
   width: 40%;
 }
 .g2{
   hight: 40%;
   width: 40%;
 }
 .g1{
   hight: 40%;
   width: 40%;
 }
 .g4{
   hight: 40%;
   width: 40%;
 }
 .g7{
   hight: 40%;
   width: 40%;
 }
 .bottom-container2{
   background-color: #7FB5FF;
   padding: 50px 0 28px;
 }
 .btn3{
   background-color: #001D6E;
   border: none;
   border-radius: 30px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }

.btn2{
  background: #0843f5;
background-image: -webkit-linear-gradient(top, #0843f5, #298dd9);
background-image: -moz-linear-gradient(top, #0843f5, #298dd9);
background-image: -ms-linear-gradient(top, #0843f5, #298dd9);
background-image: -o-linear-gradient(top, #0843f5, #298dd9);
background-image: linear-gradient(to bottom, #0843f5, #298dd9);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Georgia;
color: #ffffff;
font-size: 17px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btn:hover {
background: #11d9a0;
background-image: -webkit-linear-gradient(top, #11d9a0, #34a5d9);
background-image: -moz-linear-gradient(top, #11d9a0, #34a5d9);
background-image: -ms-linear-gradient(top, #11d9a0, #34a5d9);
background-image: -o-linear-gradient(top, #11d9a0, #34a5d9);
background-image: linear-gradient(to bottom, #11d9a0, #34a5d9);
text-decoration: none;
}
